.app-editor {
   position: relative;
   margin-left: 0.2em;

   &--no-highlight {
      .app-editor__dec-text {
         display: none;
      }

      .app-editor__real-text {
         color: inherit;
      }
   }

   &__dec-text,
   &__real-text {
      position: absolute;
      left: 0;
      top: 0;

      width: calc(100% - 0.2em);
      height: 100%;

      padding: 0.5em;
      padding-right: 0.5em;
      
      overflow: auto;
      white-space: pre-wrap;
      font-family: inherit;
   }

   &__real-text {
      resize: none;
      outline: none;
      border: none;
      background: none;

      color: rgba(0,255,0, 0);
      caret-color: #000;
   }
}