section.app-res(aria-label="result of text analyze") 
   .app-res__summary Total num of chars: <strong class="app-res__total">---</strong> 
      | (unique <strong class="app-res__unique-chars">--</strong>). 
      | Unique two-character sequences: <strong class="app-res__unique-pairs">--</strong>